// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px)  {

body {
	font-size: 14px;
}
header h2 {
    font-size: 24px;
}
header h2 span{
    font-size: 30px;
}
aside {
	line-height: 20px;
}
nav {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
}
.car {
	&__display {
		max-height: 224px;
	}
	&__display img {
		min-height: 224px;
	}
	&__data * {
		font-size: 20px;
		line-height: 30px;
	}
}

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	cars-list {
		display: grid;
		grid-template-columns: 30% 70%;
		grid-template-rows: 101px 55px auto;

		header {
			grid-area: 1 / 1 / auto / span 2 ;
		}

		aside {
			grid-area: 2 / 1 / 650 ;
			min-height: 650px;
			max-height: calc(100vh - -226px);
		}
		nav {
			grid-area: 2 / 2;
		}
		section {
			grid-area: 3 / 2;
			&.car__list{
				padding: 15px;
			}
		}

	}

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
	.container-fluid {
		max-width: 1200px;
		position:relative;
	}
	cars-list {
		grid-template-columns: 20.2% 79.8%;
		grid-column-gap: 40px;
		header {
			grid-area: 1 / 2 / auto / span 2 ;
		}

		aside {
			grid-area: 1 / 1 / 650 ;
		}
		section {
			grid-area: 3 / 2;
			&.car__list{
				padding: 15px 0;
			}
		}

	}


}